/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../../fonts/poppins-v20-latin-600.woff2") format("woff2"), url("../../fonts/poppins-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../fonts/dm-sans-v11-latin-regular.woff2") format("woff2"), url("../../fonts/dm-sans-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../fonts/dm-sans-v11-latin-500.woff2") format("woff2"), url("../../fonts/dm-sans-v11-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  font-family: "Dm Sans", sans-serif;
  color: rgb(31, 41, 55);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.links {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  background: rgb(31, 41, 55);
  padding: 13px 25px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.icon-links {
  background-color: transparent;
  padding-right: 28px;
  padding-left: 0;
  margin-left: 16px;
  position: relative;
  color: rgb(31, 41, 55);
}
.icon-links::after {
  position: absolute;
  width: 24px;
  height: 36px;
  content: "";
  right: 0;
  top: 5px;
}

.links-wrapper {
  height: 50px;
}

.card {
  background-color: #fff;
  color: rgb(31, 41, 55);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding: 4px 8px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 4px;
}

.title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
}

.text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #4B5563;
}

.container {
  width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually {
  position: relative;
  transition: 1900ms ease-out all;
}

.visually-none {
  transition: 1900ms ease-out all;
  display: none;
}

.visually-title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4B5563;
  text-align: center;
  padding: 12px 0px;
}

.visually-button {
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background: url(/img/close.svg) no-repeat center center;
  cursor: pointer;
  margin-left: auto;
  position: absolute;
  top: 8px;
  right: 40px;
}

.header {
  background: rgb(0, 53, 59);
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  padding-left: 446px;
}

.header-nav-list {
  width: 383px;
  display: flex;
  padding: 21px 23px 21px 13px;
  justify-content: space-between;
}

.header-nav-item-link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
}

.header-inst-button {
  border: none;
  background-color: transparent;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0;
  cursor: pointer;
}
.header-inst-button:nth-child(1), .header-inst-button:nth-child(2) {
  padding-left: 27px;
  position: relative;
}
.header-inst-button:nth-child(1)::after, .header-inst-button:nth-child(2)::after {
  position: absolute;
  width: 19px;
  height: 19px;
  content: "";
  left: 0;
  top: 2px;
}
.header-inst-button:nth-child(1) {
  margin-right: 25px;
}
.header-inst-button:nth-child(1)::after {
  background: url(../../img/search.svg) no-repeat center center;
}
.header-inst-button:nth-child(2) {
  margin-right: 24px;
}
.header-inst-button:nth-child(2)::after {
  background: url(../../img/shopping_cart.svg) no-repeat center center;
}

.button-sign {
  padding: 13px 25px;
  background: #FFFFFF;
  color: rgb(0, 53, 59);
  border-radius: 8px;
}

.intro {
  background: rgb(0, 53, 59);
  color: #fff;
  padding-top: 48px;
}

.intro-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.intro-text-wrapper {
  position: relative;
}
.intro-text-wrapper::after {
  position: absolute;
  width: 209px;
  height: 250px;
  content: "";
  background: url(../../img/bg-after.png) no-repeat center center;
  z-index: 3;
  bottom: 78px;
  right: -188px;
}

.intro-title {
  font-family: "Poppins";
  width: 598px;
  margin-top: 115px;
  font-weight: 400;
  font-size: 56px;
  line-height: 67px;
}

.intro-text {
  margin-top: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  width: 586px;
}

.intro-links-wrapper {
  margin-top: 39px;
}

.intro-links-green {
  background: rgb(34, 164, 90);
}

.intro-links-transp {
  color: #fff;
}
.intro-links-transp::after {
  background: url(../../img/play_circle_filled.svg) no-repeat center center;
}

.intro-review-wrapper {
  margin-top: 63px;
  display: flex;
}

.intro-user-img {
  width: 160px;
  height: 48px;
}

.intro-rating-wrapper {
  margin-left: 18px;
}

.intro-rating-status {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.intro-rating-status {
  width: 132px;
  height: 24px;
}

.intro-bg-img {
  width: 600px;
  height: 640px;
  border-radius: 24px;
}

.intro-bottom-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  padding-bottom: 395px;
}

.absolute {
  margin-top: -213px;
}

.absolute-container {
  background: rgb(252, 216, 202);
  border-radius: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.absolute-about {
  width: 77px;
}

.absolute-title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 29px;
}

.absolute-text {
  width: 730px;
  margin: 0 auto;
  margin-bottom: 52px;
}

.leaders {
  margin-top: 160px;
}

.leaders-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leaders-item:first-child {
  margin-bottom: 128px;
}
.leaders-item:nth-child(2n) {
  flex-direction: row-reverse;
}

.leaders-item-title {
  width: 547px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.leaders-item-text {
  width: 574px;
  margin-top: 28px;
  margin-bottom: 51px;
}

.leaders-item-img {
  border-radius: 24px;
}

.leaders-item-links-icon::after {
  background: url(../../img/chevron_right.svg) no-repeat center center;
}

.courses {
  margin-top: 128px;
}

.courses-info {
  width: 76px;
  background: #FCD8CA;
}

.courses-title {
  text-align: center;
  margin-top: 11px;
  margin-bottom: 29px;
}

.courses-text {
  width: 730px;
  margin: 0 auto;
  text-align: center;
}

.courses-list {
  margin-top: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-item {
  background: #00353B;
  border-radius: 16px;
  color: #fff;
  padding-top: 32px;
  padding-left: 24px;
  padding-bottom: 41px;
  width: 405px;
  height: 500px;
  position: relative;
}
.courses-item::after {
  position: absolute;
  width: 209px;
  height: 270px;
  content: "";
  bottom: 0;
  right: 0;
}
.courses-item:nth-child(1)::after {
  background: url(../../img/child1.png) no-repeat center center;
}
.courses-item:nth-child(2)::after {
  background: url(../../img/child2.png) no-repeat center center;
}
.courses-item:nth-child(3)::after {
  background: url(../../img/child3.png) no-repeat center center;
}

.courses-item-info {
  width: 77px;
  margin-left: 0px;
  margin-bottom: 16px;
}

.courses-item-title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  margin-bottom: 15px;
}

.courses-item-link {
  position: absolute;
  bottom: 32px;
  background: rgb(34, 164, 90);
  padding: 9px 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 8px;
}

.join {
  margin-top: 128px;
}

.join-container {
  padding: 0;
  padding-left: 64px;
  width: 1280px;
  background: #FCD8CA;
  border-radius: 24px 0px 0px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join-info {
  width: 63px;
  margin-left: 0px;
  margin-bottom: 11px;
}

.join-title {
  width: 476px;
}

.join-text {
  margin-top: 28px;
  width: 480px;
  margin-bottom: 52px;
}

.browse {
  margin-top: 80px;
}

.browse-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.browse-item {
  padding-top: 80px;
  position: relative;
}
.browse-item::after {
  width: 48px;
  height: 48px;
  position: absolute;
  content: "";
  background: rgb(21, 142, 94);
  top: 0;
  left: 0;
  border-radius: 50%;
}
.browse-item:nth-child(1)::after {
  background: url(../../img/browse1.svg);
}
.browse-item:nth-child(2)::after {
  background: url(../../img/browse2.svg);
}
.browse-item:nth-child(3)::after {
  background: url(../../img/browse3.svg);
}

.browse-item-title {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  color: rgb(31, 41, 55);
}

.browse-item-text {
  width: 378px;
  margin-top: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #4B5563;
}

.benefits {
  margin-top: 191px;
}

.benefits-info {
  background: rgb(252, 216, 202);
  width: 71px;
  margin-bottom: 11px;
}

.benefits-title {
  width: 691px;
  text-align: center;
  margin: 0 auto;
}

.benefits-text {
  text-align: center;
  width: 730px;
  margin: 0 auto;
  margin-top: 28px;
}

.benefits-items-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 79px;
  margin-bottom: 93px;
  align-items: center;
}

.benefits-item {
  padding-top: 72px;
  position: relative;
}
.benefits-item::after {
  width: 48px;
  height: 48px;
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 0;
  right: calc(50% - 24px);
}
.benefits-item:nth-child(1)::after {
  background: url(../../img/benef1.svg) no-repeat center center;
}
.benefits-item:nth-child(2) {
  margin-top: 63px;
}
.benefits-item:nth-child(2)::after {
  background: url(../../img/browse1.svg) no-repeat center center;
}

.benefits-item-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
  width: 230px;
}

.benefits-item-text {
  width: 237px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #4B5563;
}

.benefits-link {
  display: block;
  width: 135px;
  margin: 0 auto;
  text-align: center;
}

.say {
  margin-top: 141px;
}

.say-container {
  padding: 0;
  width: 1280px;
  background: rgb(252, 216, 202);
  padding-top: 100px;
  border-radius: 24px;
}

.say-info {
  width: 101px;
  margin-bottom: 11px;
}

.say-title {
  text-align: center;
  margin-bottom: 29px;
}

.say-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #4B5563;
  width: 730px;
  margin: 0 auto;
}

.say-list {
  margin-top: 79px;
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.say-item {
  background: #fff;
  border-radius: 16px;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
  padding-right: 37px;
  width: 400px;
  height: 328px;
}
.say-item:first-child {
  padding-left: 0;
  border-radius: 0px 16px 16px 0px;
}
.say-item:nth-child(2) {
  padding-right: 32px;
}
.say-item:last-child {
  margin-right: 48px;
  position: relative;
}
.say-item:last-child::after {
  width: 32px;
  height: 100%;
  position: absolute;
  background: #fff;
  content: "";
  right: -48px;
  top: 0;
  border-radius: 16px 0px 0px 16px;
}

.say-item-text {
  width: 331px;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  color: #1F2937;
  margin-top: 33px;
}

.say-user-wrapper {
  display: flex;
  margin-top: 31px;
  align-items: center;
}

.say-user-text-wrapper {
  margin-left: 16px;
}

.say-user-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6B7280;
  width: 228px;
}

.log-job {
  width: 181px;
}

.say-user-img {
  width: 48px;
  height: 48px;
}

.posts {
  position: relative;
  margin-top: 518px;
  color: #fff;
  z-index: -1;
}

.posts-container {
  position: absolute;
  width: 100%;
  padding: 0 80px;
  padding-top: 522px;
  padding-bottom: 128px;
  background-color: rgb(0, 53, 59);
  bottom: -525px;
}

.posts-info {
  width: 45px;
  margin-left: 0;
  margin-bottom: 11px;
}

.posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.posts-title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
}

.posts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1F2937;
  background: #fff;
}

.posts-list {
  display: flex;
  justify-content: space-between;
  vertical-align: top;
}

.posts-item {
  width: 405px;
  background-color: #fff;
  color: #1F2937;
  padding-bottom: 31px;
}

.posts-item-info {
  display: inline;
  padding: 4px 8px;
  background: rgb(170, 222, 168);
  border-radius: 4px;
  margin-left: 24px;
}

.posts-item-img {
  margin-bottom: 24px;
}

.posts-item-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  padding-left: 24px;
  width: 310px;
  margin-top: 8px;
}

.posts-item-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #4B5563;
  padding-left: 24px;
  width: 355px;
  margin-bottom: 64px;
}

.last-item-post {
  margin-bottom: 31px;
}

.posts-item-link {
  margin-left: 24px;
  position: relative;
  margin-bottom: 32px;
}
.posts-item-link::after {
  position: absolute;
  background: url(../../img/chevron_right.svg) no-repeat top center;
  top: 8px;
}/*# sourceMappingURL=main.css.map */