.absolute {
    margin: 0 auto;
    margin-top: -230px;

}

.absolute-container {
    width: 1280px;
    background: rgba(252, 216, 202, 1);
    border-radius: 24px;
    padding: 0;
    padding-top: 64px;
    padding-bottom: 76px;
    text-align: center;
}

.absolute-about {
    width: 77px;
    margin-bottom: 11px;

}

.absolute-title {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 29px;
}

.absolute-text {
    width: 730px;
    margin: 0 auto;
    margin-bottom: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}