.absolute{
   margin-top: -213px;
}
.absolute-container{
    background: rgba(252, 216, 202, 1);
    border-radius: 24px;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}
.absolute-about{
    width: 77px;
    background-color: #fff;
    color:rgba(31, 41, 55, 1);
    font-weight: 400;
font-size: 14px;
line-height: 21px;
padding: 4px 8px;
text-align: center;
margin:  0 auto;
cursor:auto;
margin-bottom: 15px;
border-radius: 4px;
}
.absolute-title{
    font-family: 'Poppins';
    font-weight: 400;
font-size: 48px;
line-height: 58px;
margin-bottom: 29px;
}
.absolute-text{
    width: 730px;
    margin: 0 auto;
    margin-bottom: 52px;
}