.browse {
    margin-top: 80px;
}
.browse-container{
    width: 1280px;
    padding: 0;
    padding-right: 17px;
}

.browse-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.browse-item {
    padding-top: 80px;
    position: relative;
    &::after{
        width: 48px;
        height: 48px;
        position: absolute;
        content: '';
        background: rgba(21, 142, 94, 1);
        top: 0;
        left: 0;
        border-radius: 50%;

    }
    &:nth-child(1){
        &::after{
            background: url(../../img/browse1.svg);
        }
    }
    &:nth-child(2){
        &::after{
            background: url(../../img/browse2.svg);
        }
    }
    &:nth-child(3){
        &::after{
            background: url(../../img/browse3.svg);
        }
    }
}

.browse-item-title {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    color: rgba(31, 41, 55, 1);
}

.browse-item-text {
    width: 378px;
    margin-top: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #4B5563;
}