.courses {
    margin-top: 128px;
}

.courses-info {
    width: 76px;
    background: #FCD8CA;
}

.courses-title {
    text-align: center;
    margin-top: 11px;
    margin-bottom: 29px;
}

.courses-text {
    width: 730px;
    margin: 0 auto;
    text-align: center;
}

.courses-list {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses-item {
    background: #00353B;
    border-radius: 16px;
    color: #fff;
    padding-top: 32px;
    padding-left: 24px;
    padding-bottom: 41px;
    width: 405px;
    height: 500px;
    position: relative;

    &::after {
        position: absolute;
        width: 209px;
        height: 270px;
        content: '';
        bottom: 0;
        right: 0;
    }

    &:nth-child(1) {
        &::after {
            background: url(../../img/child1.png) no-repeat center center;
        }
    }

    &:nth-child(2) {
        &::after {
            background: url(../../img/child2.png) no-repeat center center;
        }
    }

    &:nth-child(3) {
        &::after {
            background: url(../../img/child3.png) no-repeat center center;
        }
    }
}

.courses-item-info {
    width: 77px;
    margin-left: 0px;
    margin-bottom: 16px;
}

.courses-item-title {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    margin-bottom: 15px;
}

.courses-item-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;

}

.courses-item-link {
    position: absolute;
    bottom: 32px;
    background: rgba(34, 164, 90, 1);
    padding: 9px 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;

}