.footer {
    background: rgba(0, 53, 59, 1);
    padding-top: 92px;
    color: #fff;
    text-align: center;
}

.footer-first-container {
    display: flex;
    align-items: center;
    padding-bottom: 72px;
}

.footer-form-wrapper {
    width: 402px;
    margin-bottom: 70px;
}

.footer-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 80px;
    margin-right: 65px;
}

.form-label {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 23px;
}

.footer-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form-button {
    font-size: 15px;
    line-height: 24px;
    border: none;
    background: rgba(34, 164, 90, 1);
    padding: 13px 25px;
}

.form-input {
    border-radius: 8px;
    width: 260px;
    margin-right: 19px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;

    &:focus {
        font-family: "DM Sans";
        outline: 2px solid rgba(34, 164, 90, 1);
        color: rgba(34, 164, 90, 1);
    }

}

.form-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 19px;
    text-align: left;
}

.footer-item {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    &:first-child{
        margin-right: 65px;
        padding-left: 2px;
       
    }
    &:last-child{
        padding-right: 10px;
    }
    &:nth-child(4){
        padding-right: 9px;
    }
}

.footer-item-title {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

.footer-item-text {
    display: inline;
    text-align: left;
    margin-bottom: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.footer-hr{
    display: block;
    background-color: rgba(255, 255, 255, 0.08);
    width: 1280px;
    height: 1px;
    border: none;
    margin: 0 auto;
}
.footer-second-container{
    padding-top: 32px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-discover{
    font-size: 14px;
line-height: 21px;
text-align: left;
margin-left: 1px;
padding-bottom: 5px;
}
.footer-icons-link{
    margin-right: 2px;
    &:last-child{
        margin-right: 0;
    }
}