.header {
    background: rgba(0, 53, 59, 1);
    margin: 0;
    padding: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    padding-left: 446px;
}

.header-nav-list {
    width: 383px;
    display: flex;
    padding: 21px 23px 21px 13px;
    justify-content: space-between;

}

.header-nav-item-link {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}

.header-inst-button {
    border: none;
    background-color: transparent;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 0;
    cursor: pointer;
    &:nth-child(1),&:nth-child(2){
        padding-left: 27px;
        position: relative;
        &::after{
            position: absolute;
            width: 19px;
            height: 19px;
            content: '';
            left: 0;
            top: 2px;
        }
    }
    &:nth-child(1){
        margin-right: 25px;
        &::after{
            background: url(../../img/search.svg) no-repeat center center;
        }
      
    }
    &:nth-child(2){
        margin-right: 24px;
        &::after{
            background: url(../../img/shopping_cart.svg) no-repeat center center;
        }
    }
    
}
.button-sign{
    padding: 13px 25px;
    background: #FFFFFF;
    color: rgba(0, 53, 59, 1);
    border-radius: 8px;
}