.join {
    margin-top: 128px;
}

.join-container {
    padding: 0;
    padding-left: 64px;
    width: 1280px;
    background: #FCD8CA;
    border-radius: 24px 0px 0px 24px;
    display: flex;
    justify-content: space-between;
}
.join-text-wrapper{
    margin-top: 64px;
}
.join-info{
    width: 63px;
    margin-left: 0px;
    margin-bottom: 11px;
}
.join-title{
    width: 476px;

}
.join-text{
    margin-top: 28px;
    width: 480px;
    margin-bottom: 48px;
  
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}