.today {
    margin-top: 1038px;
    background: rgba(0, 53, 59, 1);
    color: white;

}
.today-title{
    text-align: center;
    margin-bottom: 29px;
}
.today-text{
    width: 730px;
    text-align: center;
    margin: 0 auto;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;

}
.today-links-wrapper{
    width: 283px;
    margin: 0 auto;
   padding-bottom: 78px;
   margin-top: 51px;
}   

.today-link-white{
    margin-left: 10px;
    background-color: #fff;
    color: rgba(0, 53, 59, 1);
}
